QPushButton{
    background-color:#F9E79F;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: #F7EEC6  ;
    min-width: 10em;
    padding: 6px;
    font: bold large "Gill Sans ";
    font-size: 14px;
}
QPushButton:hover{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #F7EEC6, stop: 1 #F8C471);
}
QPushButton:pressed {
    background-color: #F8C471 ;
}
QPushButton#entra{
    background-color: #A9DFBF;
    border-color: #D5F5E3  ;
}
QPushButton#entra:pressed{
    background-color:#52BE80 ;
}
QPushButton#entra:hover{
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #D5F5E3, stop: 1 #52BE80);
}
QLineEdit{
    border: 2px solid #A3E4D7;
    padding: 0 8px;
    background: #D5F5E3 ;
    border-radius: 10px;
    selection-background-color: #148F77;
    font: large "Gill Sans ";
    font-size: 14px;
}
QLineEdit:focus{
    background-color: ghostwhite;
    border: 2px solid grey;
}
QLabel{
    color: black;
    font: large "Gill Sans";
    font-size: 14px;
}
QLabel#n_t,#email_t,#recapito_t,#data_t,#cf_t,#tipo_t,#esito_t,#finish_t,#finish_v,#nome_v,#cognome_v,#data_v,#cf_v,#tipo_v{
    font: bold;
}

QRadioButton {
    spacing: 5px;
    font: large "Gill Sans ";
    font-size: 14px;
}
QRadioButton::indicator {
    width: 13px;
    height: 13px;
}
QComboBox {
    border: 1px solid #A3E4D7;
    background-color: #D5F5E3;
    border-radius: 8px;
    padding: 1px 18px 1px 3px;
    min-width: 6em;
    font: large "Gill Sans ";
    font-size: 14px;
}

QComboBox:editable {
    background-color: #D5F5E3;
    border: 1px solid #A3E4D7 ;
}

QComboBox:!editable, QComboBox::drop-down:editable {
    background: #D5F5E3;
}

/* QComboBox gets the "on" state when the popup is open */
QComboBox:!editable:on, QComboBox::drop-down:editable:on {
    background: #D5F5E3;

}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 15px;

    border-left-width: 1px;
    border-left-color: grey;
    border-left-style: solid; /* just a single line */
    border-top-right-radius: 3px; /* same radius as the QComboBox */
    border-bottom-right-radius: 3px;
}
QComboBox::down-arrow{
     image: url(resources/img/down-arrow.png);
     width: 14px;
     height: 14px;
}
QGroupBox {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #FDF4CE, stop: 1 #FDF4CE);
    border: 2px solid #FCF3CF;
    border-radius: 10px;
    margin-top: 2.5ex; /* leave space at the top for the title */
    font: bold large "Gill Sans ";
    font-size: 14px;
}

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
    border: 2px solid #FCF3CF;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #FEF9E7 , stop: 1 #FEF9E7 );
}

QScrollBar:horizontal {
    border: 2px solid grey;
    background: #D5F5E3;
    height: 15px;
    margin: 0px 40px 0 0px;
}

QScrollBar::handle:horizontal {
    background: white;
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
    width: 16px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border: 2px solid grey;
    background: #D5F5E3;
    height: 20px;
}

QScrollBar::sub-line:horizontal {
    background: #D5F5E3;
    width: 16px;
    subcontrol-position: top right;
    subcontrol-origin: margin;
    position: absolute;
    right: 20px;
    border: 2px solid grey;

}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: #F7EEC6;
}
QScrollBar:vertical {
    border: 2px solid grey;
    background: #D5F5E3;
    width: 15px;
    margin: 22px 0 22px 0;
}
QScrollBar::handle:vertical {
    background: white;
    min-height: 20px;
}
QScrollBar::add-line:vertical {
    border: 2px solid grey;
    background: #D5F5E3;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: 2px solid grey;
    background: #D5F5E3;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: 2px solid grey;
    width: 3px;
    height: 3px;
    background: white;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: #F7EEC6;
}
QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #F7EEC6, stop:1 #F7EEC6);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #b4b4b4, stop:1 #8f8f8f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -2px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 3px;
}
QDateEdit{
    background-color: #D5F5E3;
    border: 2px solid #A3E4D7;
    font: large "Gill Sans ";
    font-size: 14px;
    border-radius: 10px;
}
QTextEdit{
    background-color: #FEF5E7;
    border: 2px solid #F8C471;
    border-radius: 10px;
    padding: 0 8px;
    selection-background-color: #F8C471;
    font: large "Gill Sans ";
    font-size: 14px;
}
QWidget#container{
    background: #F7EEC6
}
QSpinBox{
    background-color: #D5F5E3;
    border: 2px solid #A3E4D7;
    font: large "Gill Sans ";
    font-size: 14px;
    border-radius: 10px;

}



